{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}
    {% trans "Logout Confirmation" %}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">{% trans "Logout Successful" %}</h2>
                        <p class="card-text text-center">
                            {% trans 'You have successfully signed out.' %}
                        </p>
                        <div class="text-center mt-3">
                            <a href="{% url 'account_login' %}" class="btn btn-primary">{% trans 'Login' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
