/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Italiana:wght@200;300;400;500;600;700&display=swap');

/* Reset default styles */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FFE6E8;
}


/* Navbar */
div.container-fluid.navalert-container {
    width: 100%;
    padding: 0;
}

.navalert-container {
    display: inline-flex;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
}

.navalert-container h1 {
    font-family: "Italiana", sans-serif;
    width: 30%;
    color: #ffe6e8;
}

.navbar {
    margin: 0;
    border: 0;
    width: 100%;
    background-color: rgba(113, 6, 39);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.active {
    border-bottom: 1px solid #ffe6e8;
}

.test {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

/*Session List Styling for home page nicked from LMS*/

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Star Rating Styles */
.fa {
    font-size: 25px;
  }
  
.checked {
    color: goldenrod;
}

/* Footer */
footer {
    background-color: #710627;
    color: #ffe6e8;
    min-height: 120px;
    margin-top: 179px;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 7px;
    text-align: center;
    color: #ffe6e8;
    background-color: #710627;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #7d8491;
    color: #d6ffb7;
}

#footer-details {
    padding-top: 20px;
}

/* Form Styling */
form {
    background-color: #ecdbdb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #4d041a;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #ecdbdb;
}

form button {
    background-color: #710627;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


form button:hover {
    background-color: #4d041a;
}

form .errorlist {
    color: #ff0000;
    margin: 0 0 10px;
}

/* Media Queries */
@media screen and (max-width: 767px) {
    form {
        max-width: 100%;
    }

    form button {
        width: 100%;
    }
}


@media screen and (max-width: 446px) {
    .navalert-container h1 {
        font-family: "Italiana", sans-serif;
        font-size: 1.5rem;
    }
}
