/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Italiana:wght@200;300;400;500;600;700&display=swap');

/* General styling */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FFE6E8;
    margin-bottom: 0;
    background-image: url('/static/images/fengshui.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.display-4 {
    color: #817C68;

}

/* Navbar */
div.container-fluid.navalert-container {
    width: 100%;
    padding: 0;
}

.navalert-container {
    display: inline-flex;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
}

.navalert-container h1 {
    font-family: "Italiana", sans-serif;
    width: 30%;
    color: #fdfbf0;
}

.navbar {
    margin: 0;
    border: 0;
    width: 100%;
    background-color: #817C68;
    z-index: 1000;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.active {
    border-bottom: 1px solid #ffe6e8;
}

.test {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

.navbar-dark .navbar-nav .nav-link {
    color: #817C68;
}

/* Session List Styling for home page nicked from LMS */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: card-bg;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, .125);
}

.card-body {
    color: rgba(255, 255, 255, 0.8);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #817C68;
}

.scale {
    width: 100%;
    height: auto;
    margin: -7px;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #817C68;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #817C68;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #817C68;
}

.post-link:hover,
.page-link {
    color: orange;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Footer */
footer {
    background-color: #817C68;
    color: #ffe6e8;
    margin-top: 75vh;
    padding: 20px 0;
    height: auto;
}

#footer-details {
    padding-top: 10px;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 7px;
    text-align: center;
    color: #ffe6e8;
    background-color: #817C68;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #7d8491;
    color: #d6ffb7;
}

/* Hero Section */
.hero-section {
    position: relative;
    text-align: center;
    color: #fff;
}

.hero-section img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.merged-text {
    color: #fff; /* Set the text color */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity */
    padding: 20px; /* Adjust the padding as needed */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

/* Title Header and Food Offerings */
.container-fluid {
    padding-top: 20px;
}

.card-body {
    color: #fff;
}

/* Food blog hero image */
.hero-section img {
    max-width: 60%;
    margin-top: -10vh;
    margin-bottom: -93px;
    padding: 115px;
}

/* Common form styling */
.form-container {
    background-color: #817C68;
    padding: 20px;
    border-radius: 8px;
    width: 15vw;
    margin: 10vh auto;
}

.form-container button {
    background-color: #817c68;
    color: #CDc8BD;
    padding: 12px 20px;
    border-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: orange;
}

/* Larger screens */
@media screen and (min-width: 992px) {
    .masthead {
        height: 40vh;
    }

    .masthead-text {
        width: 60%;
    }

    .masthead-image {
        width: 40%;
    }

    .card {
        min-height: 400px;
    }

    .form-container {
        width: 20vw;
    }
}

/* Medium screens */
@media screen and (max-width: 991px) {
    .masthead {
        height: 30vh;
    }

    .masthead-text {
        width: 100%;
    }

    .masthead-image {
        display: none;
    }

    .card {
        min-height: 300px;
    }

    .form-container {
        width: 60vw;
    }
}

/* Small screens */
@media screen and (max-width: 375px) and (orientation: landscape) {
    .masthead {
        height: 40vh;
    }

    .masthead-text {
        width: 100%;
    }

    .masthead-image {
        display: none;
    }

    .hero-content {
        width: 100%; /* Full width for landscape mode */
    }

    .hero-section img {
        width: 100%;
        margin-top: 10vh;
        margin-bottom: 0px;
        padding: 0px;
    }

    .card {
        min-height: 200px;
    }

    .comments {
        padding: 10px;
    }

    .approval {
        font-size: 12px;
    }

    .form-container {
        width: 50vw;
        max-width: none;
    }
}
